$colors: (
	// --- grays ---
	'c-1': rgba(51,51,51,1),
	'c-2': rgba(68,68,68,1),
	'c-3': rgba(51,51,51,1),
	'c-4': rgba(180,180,180,1),
	'c-5': rgba(245,245,245,1),
	'c-6': rgba(255,255,255,1),

	// --- colors ---
	'c-7': rgba(255,90,110,1),
	'c-8': rgba(0,200,180,1),
	'c-9': rgba(36,68,84,1)
);

@each $key, $color in $colors {
    .#{$key} {
        color: $color;
    }

    .bg#{$key} {
		background-color: $color;
	}
}