{{!-- <div class="blog-control-bar-bottom__wrapper">  --}}
	{{!-- <div class="container">
			<div class="row">

			<div class="blog-control-bar col-sm-9"> --}}
				<div class="likes">
					<div class="like-button">
						<i class="fa fa-thumbs-up"></i>
					</div><!--
			---><div class="like-count">
						<p>12</p>
					</div>
				</div>

				<div class="directions">
					<div class="load-prev-button left-button">
						<i class="fa fa-arrow-left"></i>
					</div><!--
			---><div class="article-title"><p>{{title}}</p></div><!--
			---><div class="load-next-button right-button">
						<i class="fa fa-arrow-right"></i>
					</div>
				</div>

				<div class="social-share pull-right">
					<div class="social-share__background"></div>
					<p class="social-share__label"><span>Share:</span></p>
					<ul class="social-share__icons">
						<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
					</ul>
				</div>
			{{!-- </div>
		</div>
	</div> 
</div> --}}