<div class=" col-md-3 col-md-offset-9 col-sm-0">
	<div class="side-panel__container ">

		<div class="side-panel__search">
			<div class="side-panel__search-bar"><input type="search" placeholder="Search Articles"></input></div><!-- 
		--><div class="button side-panel__search-submit">
				<i class="fa fa-search"></i>
			</div>
		</div>

		<div class="side-panel__categories">
		
			</div>
		<div class="clearfix"></div>
		

	</div>
</div>