<a href="{{{prevUrl}}}" class="prev-button" style="display: inline-block; padding: 4px 8px; background-color: tomato; color: whitesmoke;">prev</a>
<a href="{{{nextUrl}}}" class="next-button" style="display: inline-block; padding: 4px 8px; background-color: tomato; color: whitesmoke;">next</a>

<div class="projects">
</div>

