<div class="prev-button" style="display: inline-block; padding: 4px 8px; background-color: tomato; color: whitesmoke;">prev</div>
<div class="next-button" style="display: inline-block; padding: 4px 8px; background-color: tomato; color: whitesmoke;">next</div>

<div class="projects">
</div>

