@mixin body-theme($body-color, $header-color, $ui-component-color, $main-text-color) {
		background-color: $body-color;

	  .header {
			background-color: $header-color;
			.logo {
				color: $main-text-color;
				text-shadow: 0 1px 0 darken($main-text-color, 20);
			}
			.nav {
				>li {
					background-color: $ui-component-color;
					box-shadow: 0 2px 0 darken($ui-component-color,15);
					text-shadow: 0 1px 0 darken($main-text-color, 20);

					&:hover {
						background-color: lighten($ui-component-color,6);
						box-shadow: 0 2px 0 darken($ui-component-color,10);
					}
					&:active {
						top: 1px;
						box-shadow: 0 1px 0 darken($ui-component-color,10);	
					}
					a {
						color: $main-text-color;
					}
				}
			}
		}
}

// Themes can be created here, commented if not needed etc.
// Or can be created within a more specific file.

// body.midnight { @include body-theme(lighten(rgba(40,40,91,1),10), rgba(40,40,91,1), lighten(rgba(40,40,91,1),10), rgba(248,248,248,1)); }
// body.turqoise { @include body-theme(rgba(0,185,185,1), rgba(30,40,40,1), rgba(255,130,130,1), rgba(248,248,248,1)); }
