$sans-serif: sans-serif, sans-serif;
$serif-display: 'mrseavesboldbold', Georgia, serif;
$serif-copy: Georgia, serif;

$black: #333;
$white: #fff;

$white-hover: #eee;
$black-hover: #434343;

$background-color: rgba(225,225,225,1);
$header-color: rgba(255,90,110,1);
$main-body-color: $black;

.i-btn {
	@include icon-btn($background-color, 30);
}