{{!-- <div class="container">
	<div class="row">
	  <div class="small-12 medium-6 columns"><div class="transition"></div></div>
	  <div class="small-6 medium-3 columns"><div class="transition"></div></div>
	  <div class="small-6 medium-3 columns"><div class="transition"></div></div>
	</div>

	<div class="row">
	  <div class="small-4 columns"><div class="transition"></div></div>
	  <div class="small-4 columns"><div class="transition"></div></div>
	  <div class="small-4 columns"><div class="transition"></div></div>
	</div>

	<div class="row">
	  <div class="small-3 columns"><div class="transition"></div></div>
	  <div class="small-3 columns"><div class="transition"></div></div>
	  <div class="small-6 columns"><div class="transition"></div></div>
	</div>
	
</div> --}}

<div class="grid-container">
	<div class="grid-row">
	  <div class="small-12 medium-6"><div class="transition test-1"></div></div>
	  <div class="small-6 medium-3"><div class="transition test-1"></div></div>
	  <div class="small-6 medium-3"><div class="transition test-1"></div></div>
	</div>

	<div class="grid-row">
	  <div class="small-4"><div class="transition test-1"></div></div>
	  <div class="small-4"><div class="transition test-1"></div></div>
	  <div class="small-4"><div class="transition test-1"></div></div>
	</div>

	<div class="grid-row">
	  <div class="small-3"><div class="transition test-1"></div></div>
	  <div class="small-3"><div class="transition test-1"></div></div>
	  <div class="small-6"><div class="transition test-1"></div></div>
	</div>
	
</div>

<style type="text/css">
	.transition {
		min-height: 100px;
	}
</style>