<div class="container">
	<div class="row">
	  <div class="small-12 medium-6 columns"><div class="transition"></div></div>
	  <div class="small-6 medium-3 columns"><div class="transition"></div></div>
	  <div class="small-6 medium-3 columns"><div class="transition"></div></div>
	</div>

	<div class="row">
	  <div class="small-4 columns"><div class="transition"></div></div>
	  <div class="small-4 columns"><div class="transition"></div></div>
	  <div class="small-4 columns"><div class="transition"></div></div>
	</div>

	<div class="row">
	  <div class="small-3 columns"><div class="transition"></div></div>
	  <div class="small-3 columns"><div class="transition"></div></div>
	  <div class="small-6 columns"><div class="transition"></div></div>
	</div>
	
</div>




{{!-- 
<div class="grid-container">
	<div class="grid-row">
		<div class="small-1" style="background-color: rgba(255,120,120,1);"></div>
		<div class="small-2" style="background-color: rgba(160,160,255,1);"></div>
		<div class="small-3" style="background-color: rgba(200,0,200,1);"></div>
		<div class="small-4" style="background-color: rgba(220,200,0,1);"></div>
	</div>

	<div class="grid-row">
		<div class="small-3" style="background-color: rgba(80,220,255,1);"></div>
		<div class="small-2" style="background-color: rgba(160,160,255,1);"></div>
		<div class="small-5" style="background-color: rgba(200,0,200,1);"></div>
	</div>

	<div class="grid-row">
		<div class="small-1" style="background-color: rgba(80,80,80,1);"></div>
		<div class="small-1" style="background-color: rgba(80,80,80,1);"></div>
		<div class="small-1" style="background-color: rgba(80,80,80,1);"></div>
		<div class="small-1" style="background-color: rgba(80,80,80,1);"></div>
		<div class="small-1" style="background-color: rgba(80,80,80,1);"></div>
		<div class="small-1" style="background-color: rgba(80,80,80,1);"></div>
		<div class="small-1" style="background-color: rgba(80,80,80,1);"></div>
		<div class="small-1" style="background-color: rgba(80,80,80,1);"></div>
		<div class="small-1" style="background-color: rgba(80,80,80,1);"></div>
		<div class="small-1" style="background-color: rgba(80,80,80,1);"></div>
	</div>
</div> --}}

