{{!-- <div class="container">
	<div class="row">
	  <div class="small-12 medium-6 columns"><div class="transition"></div></div>
	  <div class="small-6 medium-3 columns"><div class="transition"></div></div>
	  <div class="small-6 medium-3 columns"><div class="transition"></div></div>
	</div>

	<div class="row">
	  <div class="small-4 columns"><div class="transition"></div></div>
	  <div class="small-4 columns"><div class="transition"></div></div>
	  <div class="small-4 columns"><div class="transition"></div></div>
	</div>

	<div class="row">
	  <div class="small-3 columns"><div class="transition"></div></div>
	  <div class="small-3 columns"><div class="transition"></div></div>
	  <div class="small-6 columns"><div class="transition"></div></div>
	</div>
	
</div> --}}

<div class="grid-container">
	<div class="grid-row">
	  <div class="small-12 medium-6 columns"><div class="transition"></div></div>
	  <div class="small-6 medium-3 columns"><div class="transition"></div></div>
	  <div class="small-6 medium-3 columns"><div class="transition"></div></div>
	</div>

	<div class="grid-row">
	  <div class="small-4 columns"><div class="transition"></div></div>
	  <div class="small-4 columns"><div class="transition"></div></div>
	  <div class="small-4 columns"><div class="transition"></div></div>
	</div>

	<div class="grid-row">
	  <div class="small-3 columns"><div class="transition"></div></div>
	  <div class="small-3 columns"><div class="transition"></div></div>
	  <div class="small-6 columns"><div class="transition"></div></div>
	</div>
	
</div>

<style type="text/css">
	.transition {
		min-height: 100px;
		border: 1px solid rgba(0,0,0,0.3);
		background-color: rgba(0,0,0,0.5);
		margin-bottom: 10px;
	}
</style>