node_modules
dist
.ftppass
.tmp
.sass-cache
bower_components
.DS_Store
*BU.*
*.css
*.css.map
.idea
app/js/bundle.js
app/js/templates.js
app/js/modules/*/templates/**/*.js

npm-debug.log

app/styles/css
app/js/bundle.js
