node_modules
dist
.ftppass
.tmp
.sass-cache
bower_components
.DS_Store
*BU.*
*.css
*.css.map
.idea
app/js/modules/**/templates/**/*.js
**/templates/**/*.js
/app/js/modules/blog/templates/blogpost.js

npm-debug.log

app/styles/css
app/js/bundle.js
