<div class="grid-container about">
	
	<h2>About Me....</h2>
	<div class="panel" style="color: rgba(180,180,180,1); text-align: center;">
		<h2>Eek!</h2>
		<p>This bit's coming soon I promise!</p>
	</div>

</div>