<div class="grid-container about">

	<div class="grid-row">
		{{!-- <div class="panel"> --}}
		<div class="small-12 large-6">

			<h2>Oh Hi!</h2>

			<p>You can find me all over the internet using the links below, or just shoot me an email!</p>

			<ul class="social-icons">
				<li class="twitter"><a target="_blank" href="https://twitter.com/Spen_Taylor"><i class="fa fa-twitter"></i></a><p>Twitter</p></li>
				<li class="github"><a target="_blank" href="https://github.com/SpenUK"><i class="fa fa-github"></i></a><p>GitHub</p></li>
				<li class="linked-in"><a target="_blank" href="http://uk.linkedin.com/in/spentaylor"><i class="fa fa-linkedin"></i></a><p>LinkedIn</p></li>
			</ul>
		</div>


		{{!-- <div class="small-hidden large-1">

		</div> --}}


		<div class="small-12 large-6">
			<form class="contact-form">

				<div class="field">
					<label for="name">Hey! What's your name?</label>
		    	<input type="text" name="name" id="name"/>
				</div>

				<div class="field">
		    	<label for="email">... and your email address?</label>
		    	<input type="text" name="email" id="email" />
		    	{{!-- placeholder="Your email" --}}
		    </div>


				<div class="field">
					<label for="message" >Alright! So what's up?</label>
		    	<textarea name="message" id="message" rows="6"></textarea>
		    	{{!-- placeholder="What's up?" --}}
				</div>
		    

		    <button class="submit" value="Send">Fire away! <i></i></button>
			</form>
		</div>
		</div>
	{{!-- </div> --}}

</div>