<div class="grid-container contact">

	<div class="grid-row">

		<div class="small-12 large-4">
			<div class="connect">
				
				<h2>Connect</h2>
				<ul class="social-icons">
					<li>
						<a target="_blank" href="https://twitter.com/Spen_Taylor">
							<div class="button twitter">
								<i class="fa fa-twitter left"></i>
								<p>Twitter</p>
							</div>
						</a>
					</li>
					<li>
						<a target="_blank" href="https://github.com/SpenUK">
							<div class="button github">
								<i class="fa fa-github left"></i>
								<p>GitHub</p>
							</div>
						</a>
					</li>
					<li>
						<a target="_blank" href="http://uk.linkedin.com/in/spentaylor">
							<div class="button linked-in">
								<i class="fa fa-linkedin left"></i>
								<p>LinkedIn</p>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	


		{{!-- <div class="small-hidden large-1">

		</div> --}}


		<div class="small-12 large-8">
			<div class="say-hello">
				<h2>Say Hello!</h2>
				<form class="contact-form">

					<div class="fields">

						<div class="submission-error">
							Yikes! Something went wrong, try again!
							<i class="fa fa-close right"></i>
						</div>

						<div class="field">
							{{!-- <label for="name">Hey! What's your name?</label> --}}
				    	<input type="text" name="name" id="name" placeholder="Name"/>
						</div>

						<div class="field">
				    	{{!-- <label for="email">... and your email address?</label> --}}
				    	<input type="text" name="email" id="email"  placeholder="Email"/>
				    	{{!-- placeholder="Your email" --}}
				    </div>


						<div class="field">
							{{!-- <label for="message" >Alright! So what's up?</label> --}}
				    	<textarea name="message" id="message" rows="6" placeholder="What's up?"></textarea>
				    	{{!-- placeholder="What's up?" --}}
						</div>

						<div class="thanks-message">
							<div class="panel">
								<h2>Awesome!</h2>
								<p>Thanks for gettin in touch!<br> I'll be sure to get back to you soon!</p>
							</div>
						</div>

					</div>
			    

			    <button class="submit" value="Send"><span>Fire away!</span><i class="fa fa-spinner fa-spin"></i><i class="fa fa-thumbs-up"></i></button>
				</form>
			</div>
		</div>

		</div>

</div>