<ul class="links">
	<li class="about"><a href="#/about">about</a></li>
	<li class="blog"><a href="#/blog">blog</a></li>
	<li class="projects"><a href="#/projects">projects</a></li>
	<li class="contact"><a href="#/contact">contact</a></li>
</ul>
