
<h1>Hi! I'm Spen Taylor</h1>

<p>Here you can find out more <a href="#/about" class="about">about</a> me,<br> read my <a href="#/blog" class="blog">blog posts</a><br> or check out some of my <a href="#/projects" class="projects">projects</a>.<br> Oh and feel free to <a href="#/contact" class="contact">get in touch!</a>
</p>