<ul class="social-icons">
	<li><a target="_blank" href="https://twitter.com/Spen_Taylor"><i class="fa fa-twitter"></i></a></li>
	<li><a target="_blank" href="https://github.com/SpenUK"><i class="fa fa-github"></i></a></li>
	<li><a target="_blank" href="http://uk.linkedin.com/in/spentaylor"><i class="fa fa-linkedin"></i></a></li>
	{{!-- <li><a href="www.dribbble.com/"><i class="fa fa-dribbble"></i></a></li> --}}
</ul>

<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="100%" viewBox="0 0 1000 240" style="max-width: 900px;">
<path fill="#43BFB4" d="M90.479,89.398c0,6.198-1.572,11.701-4.717,16.509c-3.145,4.809-7.68,8.545-13.604,11.211
	c-5.925,2.666-12.875,3.999-20.85,3.999c-6.654,0-12.236-0.468-16.748-1.401s-9.206-2.563-14.082-4.888V90.766
	c5.149,2.644,10.504,4.706,16.064,6.187c5.56,1.481,10.664,2.222,15.312,2.222c4.01,0,6.949-0.694,8.818-2.085
	c1.868-1.39,2.803-3.179,2.803-5.366c0-1.367-0.376-2.563-1.128-3.589s-1.96-2.062-3.623-3.11
	c-1.664-1.048-6.096-3.189-13.296-6.426c-6.518-2.962-11.405-5.833-14.663-8.613c-3.259-2.779-5.674-5.97-7.246-9.57
	c-1.572-3.6-2.358-7.861-2.358-12.783c0-9.205,3.35-16.383,10.049-21.533c6.699-5.149,15.904-7.725,27.617-7.725
	c10.345,0,20.895,2.393,31.65,7.178L82.208,46.4c-9.343-4.283-17.409-6.426-24.199-6.426c-3.51,0-6.062,0.615-7.656,1.846
	c-1.596,1.23-2.393,2.758-2.393,4.58c0,1.96,1.014,3.715,3.042,5.264c2.027,1.55,7.53,4.375,16.509,8.477
	c8.613,3.874,14.595,8.032,17.944,12.476S90.479,82.654,90.479,89.398z"/>
<path fill="#EEEB5F" d="M178.458,51.596c0,11.166-3.293,19.79-9.878,25.874c-6.586,6.084-15.939,9.126-28.062,9.126h-7.588v33.154
	h-27.002V19.809h34.59c12.623,0,22.103,2.758,28.438,8.271C175.29,33.595,178.458,41.434,178.458,51.596z M132.931,64.584h4.922
	c4.056,0,7.28-1.139,9.673-3.418c2.393-2.278,3.589-5.423,3.589-9.434c0-6.744-3.737-10.117-11.211-10.117h-6.973V64.584z"/>
<path fill="#F15C6F" d="M253.722,119.75h-59.336V19.809h59.336v21.67h-32.334v15.723h29.941v21.67h-29.941v18.867h32.334V119.75z"/>
<path fill="#EEEB5F" d="M366.378,119.75h-35.41l-36.504-70.41h-0.615c0.865,11.074,1.299,19.528,1.299,25.361v45.049h-23.926V19.809
	h35.273l36.367,69.453h0.41c-0.639-10.071-0.957-18.16-0.957-24.268V19.809h24.062V119.75z"/>
<path fill="#43BFB4" d="M468.438,119.75h-27.002V41.889h-24.404v-22.08h75.742v22.08h-24.336V119.75z"/>
<path fill="#EEEB5F" d="M568.38,119.75l-4.922-18.73h-32.471l-5.059,18.73h-29.668l32.607-100.352h36.025l33.018,100.352H568.38z
	 M557.853,78.871l-4.307-16.406c-1.003-3.646-2.222-8.362-3.657-14.15c-1.436-5.787-2.382-9.935-2.837-12.441
	c-0.41,2.324-1.22,6.152-2.427,11.484c-1.208,5.332-3.886,15.837-8.032,31.514H557.853z"/>
<path fill="#F15C6F" d="M644.396,56.859l17.227-37.051h29.258l-32.881,60.908v39.033h-27.207V81.537l-32.881-61.729h29.395
	L644.396,56.859z"/>
<path fill="#43BFB4" d="M701.681,119.75V19.809h27.002v78.135h38.486v21.807H701.681z"/>
<path fill="#EEEB5F" d="M876.681,69.643c0,16.816-4.125,29.6-12.373,38.35c-8.249,8.75-20.326,13.125-36.23,13.125
	c-15.678,0-27.697-4.397-36.06-13.193c-8.363-8.795-12.544-21.602-12.544-38.418c0-16.634,4.158-29.337,12.476-38.11
	c8.316-8.772,20.405-13.159,36.265-13.159c15.904,0,27.959,4.353,36.162,13.057C872.579,39.998,876.681,52.781,876.681,69.643z
	 M807.911,69.643c0,19.323,6.722,28.984,20.166,28.984c6.836,0,11.905-2.347,15.21-7.041c3.304-4.693,4.956-12.008,4.956-21.943
	c0-9.98-1.675-17.352-5.024-22.114c-3.35-4.762-8.352-7.144-15.005-7.144C814.679,40.385,807.911,50.138,807.911,69.643z"/>
<path fill="#F15C6F" d="M921.729,83.383v36.367h-27.002V19.809h32.744c27.161,0,40.742,9.844,40.742,29.531
	c0,11.576-5.651,20.531-16.953,26.865l29.121,43.545h-30.625l-21.191-36.367H921.729z M921.729,63.08h5.059
	c9.434,0,14.15-4.17,14.15-12.51c0-6.881-4.626-10.322-13.877-10.322h-5.332V63.08z"/>
</svg>

{{!-- <div class="page-icons-wrapper"> --}}
<div class="page-icons-wrapper">

	<div class="page-icon-wrapper">
		<a href="#/projects" class="projects">
			<img class="page-icon" src="assets/images/projects-code.png">
			<h4>projects</h4>
		</a>
	</div>

	<div class="page-icon-wrapper">
		<a href="#/blog" class="blog">
			<img class="page-icon" src="assets/images/blog-book.png">
			<h4>blog</h4>
		</a>
	</div>

	<div class="page-icon-wrapper">
		<a href="#/contact" class="contact">
			<img class="page-icon" src="assets/images/contact-speech-bubbles.png">
			<h4>contact</h4>
		</a>
	</div>

</div>

<p style="position: absolute; bottom: 60px; padding: 20px; width: 100%; margin: auto; font-size: .85em; color: #bbb;">I'm still working on this site, so please bear with me!</p>