<ul class="social-icons">
	<li><a target="_blank" href="https://twitter.com/Spen_Taylor"><i class="fa fa-twitter"></i></a></li>
	<li><a target="_blank" href="https://github.com/SpenUK"><i class="fa fa-github"></i></a></li>
	<li><a target="_blank" href="http://uk.linkedin.com/in/spentaylor"><i class="fa fa-linkedin"></i></a></li>
	{{!-- <li><a href="www.dribbble.com/"><i class="fa fa-dribbble"></i></a></li> --}}
</ul>

<h1>Hi! I'm <a href="#/about" class="about">Spen Taylor</a></h1>

<div class="page-icons-wrapper">

	<div class="page-icon-wrapper">
		<a href="#/projects" class="projects">
			<img class="page-icon" src="assets/images/projects-code.png">
			<h4>projects</h4>
		</a>
	</div>

	<div class="page-icon-wrapper">
		<a href="#/blog" class="blog">
			<img class="page-icon" src="assets/images/blog-book.png">
			<h4>blog</h4>
		</a>
	</div>

	<div class="page-icon-wrapper">
		<a href="#/contact" class="contact">
			<img class="page-icon" src="assets/images/contact-speech-bubbles.png">
			<h4>contact</h4>
		</a>
	</div>

</div>

<p style="position: absolute; bottom: 60px; padding: 20px; width: 100%; margin: auto; font-size: .85em; color: #bbb;">I'm still working on this site, so please bear with me!</p>