{{!--  <div id="testInfo" style="position: fixed; bottom: 0; right: 0; height: 50px; background-color: rgba(0,0,0,0.4); z-index: 10000; color: white;">
  test
  </div> --}}
 <div class="page-wrap">
	<div class="landing">
    <div class="cell">
  		<div class="landing-content" id="landing">
        {{{introContent}}}
  		</div>
    </div>
	</div>
  <div class="content-wrapper">
    <div class="header">

    </div>
  	<div class="main">
      {{!-- <div class="grid-container"> --}}
        {{!-- <div class="message" style=""></div> --}}
      {{!-- </div> --}}
      <div class="transition-container">
        <div class="content content-main" id="main">{{{mainContent}}}</div>
        <div class="content transitioner" id="trans"></div>
      </div>
  	</div>

  </div>
</div>

<style type="text/css">
  .content-main .grid-container,
  .transitioner .grid-container{
    /*min-height: 100%;*/
    background-color: rgba(200,0,0,0.1);
  }

</style>