<form class="contact-form">

	<div class="fields">

		<div class="submission-error">
			Yikes! Something went wrong, try again!
			<i class="fa fa-close right"></i>
		</div>

		<div class="field">
    		<input type="text" name="name" id="name" placeholder="Name"/>
		</div>

		<div class="field">
    		<input type="text" name="email" id="email"  placeholder="Email"/>
    	</div>


		<div class="field">
    		<textarea name="message" id="message" rows="6" placeholder="What's up?"></textarea>
		</div>

		<div class="thanks-message">
			<div class="panel">
				<h2>Awesome!</h2>
				<p>Thanks for gettin in touch!<br> I'll be sure to get back to you soon!</p>
			</div>
		</div>

	</div>


	<button class="submit" value="Send"><span>Fire away!</span><i class="fa fa-spinner fa-spin"></i><i class="fa fa-thumbs-up"></i></button>
</form>