<div class="page blog">

	<div class="grid-container">
		<div class="grid-row">
			<div class="small-12">
				<h1>Blog/WP</h1>
			</div>
		</div>
		<div class="grid-row">
		  <div class="small-12 medium-6"><div class="transition test-1"></div></div>
		  <div class="small-6 medium-3"><div class="transition test-1"></div></div>
		  <div class="small-6 medium-3"><div class="transition test-1"></div></div>
		</div>
		
		<div class="grid-row">
		  <div class="small-4"><div class="transition test-1"></div></div>
		  <div class="small-4"><div class="transition test-1"></div></div>
		  <div class="small-4"><div class="transition test-1"></div></div>
		</div>

		<div class="grid-row">
		  <div class="small-12 medium-6"><div class="transition test-1"></div></div>
		  <div class="small-6 medium-3"><div class="transition test-1"></div></div>
		  <div class="small-6 medium-3"><div class="transition test-1"></div></div>
		</div>
		
		<div class="grid-row">
		  <div class="small-4"><div class="transition test-1"></div></div>
		  <div class="small-4"><div class="transition test-1"></div></div>
		  <div class="small-4"><div class="transition test-1"></div></div>
		</div>

		<div class="grid-row">
		  <div class="small-3"><div class="transition test-1"></div></div>
		  <div class="small-3"><div class="transition test-1"></div></div>
		  <div class="small-6"><div class="transition test-1"></div></div>
		</div>
		
	</div>

	<style type="text/css">
		.transition {
			min-height: 100px;
		}
	</style>
</div>