$transition-time: .8s;

.transition-fader {
	@include transition(all $slide-in-time ease);

	&.fade-out-left {
		@include transform(translateX(-20%));
		opacity: 0.2;
	}

	&.fade-out-right {
		@include transform(translateX(20%));
		opacity: 0.2;
	}
}