$easing: ease;
$landing-trans-time: 0.5s;

.header {
	transition: all $landing-trans-time $easing;
	height: $header-height;
	width: 100%;
	position: relative;
	overflow: hidden;
	text-align: center;
	z-index: $header-z;

	.grid-container {
		height: 100%;
	}

	.icon {
		display: inline-block;
		i {
			transition: color $landing-trans-time $easing;
			color: white;
			display: inline-block;
			vertical-align: middle;
			width: $header-height;
			text-shadow: 0 2px 0 rgba(0,0,0,0.1);
   		line-height: $header-height;
   		height: $header-height;
   	}
	}

	.landing-footer-content {
		i {
			color: $contrast-color-1;
		}
	}
}