* {
	box-sizing: border-box;
	text-decoration: none;
}

html, body {
	height: 100%;
}

html {
	overflow: hidden;
}

body {
  min-height: 100%;
  background-color: $background-color;
  position: relative;
  color: $black;
  font-family: $default-font-family;
  overflow-x: hidden;
}

p {
	font-size: 1.2em;
}

h2 {
	font-size: 1.8em;
}

body.no-scroll, 
html.no-scroll {
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
	// max-height: 100%;
}

a {
	text-decoration: none;
	color: $black;
}

ul {
	padding-left: 0;
	list-style: none;
}

fieldset {
	border: none;
}

.centered {
	@include transform(translateY(-50%));
}

.hidden {
	display: none !important;
}

.page-wrap {
	position: relative;
	z-index: 5;
	padding-bottom: 40px;

	.bottom-shadow {
    background-color: #000;
    opacity: 0.2;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}