$slide-in-time: .8s;

.transition-content {
	// display: none;
	float: left;
	// width: 50%;
	height: 100%;
}

.transition-transitioner {
	// display: none;
	float: left;
	width: 50%;
	height: 100%;
}

.transition-container {
	position: relative;
	height: 100%;
	width: 200%;
	bottom: 0;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.animate-next {
	// set start location
	&.go {
		// set animate-to location
		@include transition(all $slide-in-time ease);
		// @include transition(all 0.8s ease);
		@include transform(translateX(-50%));
	}

	.transition-transitioner {
	// 	@include transform(translateX(100%));
		display: block;
	}

	// .transition-transitioner {
	// 	// transitioner is already at 0%;
	// }
}

.animate-prev {
	// set start location
	@include transform(translateX(-50%));
	&.go {
		// set animate-to location
		@include transition(all $slide-in-time ease);
		@include transform(translateX(0));
	}

	// .transition-transitioner {
	// 	@include transform(translateX(0));
	// 	display: block;
	// }

	// .transition-content {
	// 	@include transform(translateX(100%));
	// 	display: block;
	// }
}