<ul class="social-watermarks"></ul>

<div class="cell">
	<div class="landing-content" id="landing">
		<div class="hero-svg"></div>

		<div style="width: 90%; max-width: 600px; margin: 0 auto;">
			<p>Hi, I'm <a href="#/about">Spen</a>, a (mostly Front-End) web developer. Please check out <a href="#/projects">my work</a> and feel free to <a href="#/contact" >get in touch</a>. (I plan on writing <a href="#/blog">blog</a> posts/tuts soon - watch this space!)</p>
		</div>
	</div>
</div>