<ul class="social-watermarks"></ul>

<div class="cell">
	<div class="landing-content" id="landing">
		<div class="hero-svg"></div>

		<div style="width: 90%; max-width: 600px; margin: 0 auto;">
			<p>Hi, I'm <a href="#/about">Spen</a>, a London-based web developer. Please check out <a href="#/projects">my work</a> and <a href="#/blog">my blog</a> (coming soon!), and if there's anything else, feel free to <a href="#/contact" >get in touch</a>.</p>
		</div>
	</div>
</div>