.grid-container.contact {

	.connect {
		max-width: 95%;
		margin: 0 auto;

		ul.social-buttons {
			width: 100%;
			.button {
				
				width: 100%;
				margin: 8px auto;
				padding: 0 50px;

				&.twitter {
					$brand-color: rgb(0,172,237);
					@include ui-btn($brand-color, 50px); 
				}

				&.github {
					$brand-color: rgb(102,102,102);
					@include ui-btn($brand-color, 50px);
				}

				&.linkedin {
					$brand-color: rgb(0,123,182);
					@include ui-btn($brand-color, 50px);
				}

				&.dribbble {
					$brand-color: rgb(234,76,137);
					@include ui-btn($brand-color, 50px);
				}
			}

			li {
				min-width: 200px;
				display: block;
			}

			i,p {
				display: inline-block;
				vertical-align: middle;
				text-align: center;
				color: $white;
				margin: 0 .5em;
			}
			i {
				font-size: 1.6em;
			}
		}
	}

	.say-hello {
		max-width: 95%;	
		margin: 0 auto;
	}
}

$box-shadow: 0 4px 0 rgba(0,0,0,.1);

form.contact-form {
	font-size: 1.2em;
	position: relative;

	input, textarea {
		transition: opacity 0.5s linear;
	}

	input, input:focus {
		border: none;
    overflow: auto;
    outline: none;
    resize: none;

    @include box-shadow($box-shadow);
    width: 100%;
    margin: 8px auto;
    padding: 0.2em 0.6em;
    background-color: $white;
	}

	textarea, textarea:focus {
    border: none;
    overflow: auto;
    outline: none;
    resize: none;

    @include box-shadow($box-shadow);
    width: 100%;
    margin: 8px auto;
    padding: 0.7em 0.6em;
    background-color: $white;
	}

	button.submit {
		margin-top: 20px;
		position: relative;
		border: none;
		outline: none;
		width: 100%;
		color: white;
		padding: 0.5em;
		background-color: $header-color;
    @include box-shadow (0 4px 0 darken($header-color,15));
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);

    i {
    	display: none;
    	margin: 0 auto;
    	font-size: 1.2em;
    }

    &:active {
    	top: 3px;
    	@include box-shadow(0 1px 0 darken($header-color,15));
    }
	}

	i {
		width: 50px;
		text-align: center;
	}

	.thanks-message {
		position: absolute;
    left: 0px;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 30px;
    display: none;

    .panel {
    	margin: 0 auto;
    }

    h2 {
    	margin: 0;
    	text-align: center;
    }

    p {
    	text-align: center;
    }
	}

	.submission-error {
		@include ui-btn-label(rgb(215,40,40), 50px);
		margin: 8px auto;
		color: $white;
		padding: 0 50px;
		display: none;

		.fa-close {
			cursor: pointer;
			&:hover {
				font-size: 1.2em;
			}
		}
	}

	.field.error {
  	input, textarea {
  		background-color: rgba(255,225,225,1);
  		@include box-shadow(0 4px 0 darken(rgba(255,225,225,1),15));
  	}
  }

  &.error {
  	.submission-error {
  		display: block;
  	}
  }

  &.pending {
  	.submit .fa-spinner {
  		display: block;
  	}

  	.submit span {
  		display: none;
  	}
  }

  &.done {
  	textarea, input {
  		opacity: 0.4;
  	}

  	.thanks-message {
  		display: block;
  	}

  	.submit {
  		background-color: #8ECF6E;
    	@include box-shadow(0 4px 0 #6FBA63);

    	span {
	  		display: none;
	  	}

    	.fa-thumbs-up {
	  		display: block;
	  	}

			&:active {
				top: 0;
	    	@include box-shadow(0 4px 0 #6FBA63);
			}
  		
  	}
  }
}