$easing: ease;
$landing-trans-time: 0.5s;

body {
	overflow: hidden;
	background-color: $background-color;

	.show-intro, .show-content {
		cursor: pointer;

		&:hover {
			font-size: 2.4em;
		}
	}

	.landing-container {
		@include transition(height $landing-trans-time $easing);
		height: 100%;
	}

	-webkit-overflow-scrolling: touch;

	.page-wrap {
		box-sizing: border-box;
		@include transition(all 0 $easing);

		height: 200%;
		width: 100%;
		padding-bottom: 0;
		position: relative;

		.content-wrapper {
			position: relative;
			height: 50%;
		}

		.main {
			transition: top .8s ease;
			position: absolute;	
			@include cover();
			top: $header-height;

			.content {
				position: absolute;
				padding-top: 20px;
				padding-bottom: 40px;
				left: 0;
				width: 50%; // parent is 200%
			}

		}

		.landing {
			position: relative;
			@include transition(margin-top $landing-trans-time $easing);
			height: 50%;
			width: 100%;
			display: table;
			vertical-align: middle;

			.cell {
				display: table-cell;
				vertical-align: middle;
			}

			.landing-content {
				vertical-align: middle;
				margin: 0 auto;
				width: 100%;
				text-align: center;
			}
		}

	}

	.landing-footer-content, .header-content {
		@include transition(all 0.6s ease);
		height: 100%;
		width: 100%;
		position: absolute;
		display: block;
		margin: 0 auto;
	}

	.landing-footer-content {
	}
}

// body.landing-route.intro .page-wrap,
// body.landing-route.content .page-wrap {
// 	@include transition(none);
// }

body.content-landing.content {
	@include transition(none);
	.page-wrap {
		@include transition(none);
	}
}

body.intro-landing.intro {
	@include transition(none);
	.page-wrap {
		@include transition(none);
	}
}

.block-transition, .block-initial-transition {
	@include transition(none !important);
}

.block-initial-transition {
	@include transition(none !important);
	.page-wrap, .landing-footer-content, .header, i, .go-prev, .go-next {
		@include transition(none !important);
	}
}

body.intro {
	@include transition(all $landing-trans-time $easing);
	.header {
		background-color: rgba(0,0,0,0.1);
	}

	.page-wrap {
		@include transition(all $landing-trans-time $easing);
		@include transform(translate(0%, -$header-height));
	}

	.landing-footer-content {
		transition-delay: $landing-trans-time;
		opacity: 1;
		@include transform(translateY(0));
	}

	.header-content {
		transition-delay: 0s;
		opacity: 0;
		@include transform(translateY(-100%));
	}
}

body.content {
	@include transition(all $landing-trans-time $easing);


	.header {
		background-color: $header-color;
	}

	.page-wrap {
		@include transition(all $landing-trans-time $easing);
		@include transform(translate(0%, -50%));
	}

	.landing-footer-content {
		transition-delay: 0s;
		opacity: 0;
		@include transform(translateY(-100%));
	}

	.header-content {
		transition-delay: $landing-trans-time;
		opacity: 1;
		@include transform(translateY(0));
	}

}
