
// /* Chrome, Safari, Opera */
// @-webkit-keyframes page-icons {
//   0%   {opacity: 0; font-size: 0em;}
//   20%   {opacity: 0; font-size: 0em;}
//   50% {opacity: 1;}
//   60% { font-size: 2em; }
//   75% { font-size: 1.3em; }
//   80% { font-size: 1.5em; }
// }

// /* Standard syntax */
// @keyframes page-icons {
//   0%   {opacity: 0; font-size: 0em;}
//   20%   {opacity: 0; font-size: 0em;}
//   50% {opacity: 1;}
//   60% { font-size: 2em; }
//   75% { font-size: 1.3em; }
//   80% { font-size: 1.5em; }
// }

.landing {
	color: $white;
	@include transform(translateY(60px));
  background-color: #244454;

  .page-icons-wrapper {
  	max-width: 900px;
  	margin: 0 auto;
  	@include clearfix();
  }

  .page-icon-wrapper {
  	// display: inline-block;
  	// position: relative;
  	// width: 33.333%;
  	// float: left;

  	a {
  		max-width: 100%;
  		margin: 0 auto;
  		display: inline-block;
  		&:hover {
	  		h4 {
	  			transition: all 0.2s ease-out;
	  			opacity: 1;
	  			top: 0;
	  		}
	  	}
  	}

  	img, h4 {
	  	max-width: 90%;
  	}
  	h4 {
  		position: relative;
  		opacity: 0;
  		font-weight: normal;
  		margin: 0.4em auto;
  		text-transform: uppercase;
  		color: $contrast-color-1;
  		top: -15px;
  	}


  }

  .page-icon {
  	max-height: 100px;
  }

	ul.social-watermarks {
		position: absolute;
		right: 0;
		margin: 0;
		top: 0;
		margin-right: 10px;

		a {
			color: $contrast-color-1;
			opacity: 0.5;
			&:hover {
				opacity: 0.8;
			}
		}

		li {
			display: inline-block;
			margin: 5px;
			margin-top: 10px;
		}
	}

	a.about,a.projects,a.blog,a.contact {
		font-weight: bold;
		// margin: 10px;
		color: darken($white, 10);
	}
	// a.about,
	// a[href="#/about"] {
	// 	// color: rgba(0,200,180,1);
	// 	color: rgba(55,160,200,1);
	// }

	// a.projects,
	// a[href="#/projects"] {
	// 	// color: rgba(150,75,200,1);
	// 	color: rgba(255,90,110,1);
	// }

	// a.blog,
	// a[href="#/blog"] {
	// 	// color: rgba(225,90,110,1);
	// 	color: rgba(238, 235, 95,1);
	// }

	// a.contact,
	// a[href="#/contact"] {
	// 	// color: rgba(225,200,90,1);
	// 	color: rgba(0,200,180,1);
	// }

	a[href="#/about"],
	a[href="#/projects"],
	a[href="#/blog"],
	a[href="#/contact"] {
		// @include transition(color 0.2s linear);
		// font-weight: bold;
		color: rgba(0,200,180,1);

		&:hover {
			color: rgba(255,90,110,1);
		}
	}


}

