html, body {
	height: 100%;
}

$header-height: 60px;
$easing: ease;
$landing-trans-time: 0.5s;

html {
	body {
		transition: all $landing-trans-time $easing;
		overflow: hidden;

		background-color: $background-color;

		.show-intro, .show-content {
			cursor: pointer;

			&:hover {
				font-size: 2.4em;
			}
		}

		.vertical-fix {
			height: 100%;
			vertical-align: middle;
			display: inline-block;
			width: 0.8em;
			margin-left: -2em;
		}

		.landing-container {
			transition: height $landing-trans-time $easing;
			height: 100%;
		}

		.header {
			transition: all $landing-trans-time $easing;
			height: $header-height;
			width: 100%;
			position: absolute;
			top: 0;
			overflow: hidden;

			.grid-container {
				height: 100%;
			}

			i {
				transition: color $landing-trans-time $easing;
				color: white;
				display: inline-block;
				vertical-align: middle;
				width: 1.8em;
				text-shadow: 0 2px 0 rgba(0,0,0,0.1);
			}

			.landing-footer-content {
				i {
					color: $contrast-color-1;
				}
			}
		}

		.page-wrap {
			box-sizing: border-box;
			transition: all $landing-trans-time $easing;
			height: 200%;
			width: 100%;
			padding-bottom: 0;
			// background-color: $background-color;
			position: absolute;

			.content-wrapper {
				position: relative;
				height: 100%;
			}

			.main {
				position: relative;	
				height: 50%;
				// background-color: $background-color;
				overflow: hidden;
				padding-top: $header-height;

				.content {
					position: absolute;
					top: $header-height;
					left: 0;
					right: 0;
					bottom: 0;
					overflow: scroll;	
				}

			}

			.landing {
				position: relative;
				transition: margin-top $landing-trans-time $easing;
				// height: 100%;
				height: 50%;
				width: 100%;
				padding-top: $header-height;
				// background-color: $background-color;

				.landing-content {
					vertical-align: middle;
					display: inline-block;
					margin: 0 auto;
					width: 99%;
					text-align: center;
				}
			}

		}

		.landing-footer-content, .header-content {
			transition: all 0.6s ease;
			height: 100%;
			width: 100%;
			position: absolute;
			display: block;
			margin: 0 auto;
		}

		.landing-footer-content {
		}
	}

	body.intro {

		.header {
			background-color: rgba(255,255,255,0.1);
		}

		.page-wrap {
			// transform: translate(0%, -$header-height);
			top: -$header-height;
		}

		.landing-footer-content {
			transition-delay: $landing-trans-time;
			opacity: 1;
			top: 0;
			// transform: translateY(0);
		}

		.header-content {
			transition-delay: 0s;
			opacity: 0;
			top: -$header-height;
			// transform: translateY(-100%);
		}
	}

	body.content {

		// background-color: rgba(235,235,235,1);


		.header {
			background-color: $header-color;
		}

		.page-wrap {
			top: -100%;

			p {
				color: white;
			}
		}

		.landing-footer-content {
			transition-delay: 0s;
			opacity: 0;
			top: -$header-height;
			// transform: translateY(-100%);
		}

		.header-content {
			transition-delay: $landing-trans-time;
			opacity: 1;
			top: 0;
			// transform: translateY(0);
		}

	}
}