// ========= Grid Options ==========
$col-count: 12;
$gutter-w: 10px;

// Could be defined in a media queries module, to be included for use

$sizes: (
  // mediaQueryRange , containerWidth
  // small: (
  //   (0, 600px),
  //   400px
  // ), 
  // medium: (
  //   (601px, 1200px,),
  //   580px 
  // ), 
  // large: (
  //   (1201px, 1440px),
  //   1180px
  // )

  small: (
    (0, 40em),
    24em
  ), 
  medium: (
    (40.063em, 64em),
    38em
  ), 
  large: (
    (64.063em, 90em),
    62em
  )

);

// =================================

@mixin column-span($multiplier, $col-w){
  $gutters: $multiplier * $gutter-w - $gutter-w;
  // width: $multiplier * $col-w + $gutters;
  width: $multiplier * $col-w;
}

@function column-width-fixed($container-w, $col-count) {
  $width: $container-w / $col-count;
  @return $width;
}

@function column-width-percent($col-count) {
  $width: (100 / $col-count);
  @return $width * 1%;
}

.grid-container {
  @include clearfix();
  margin: 0 auto;
  // margin-top: $gutter-w;
  position: relative;

  .grid-row {
    @include clearfix();
    // padding-left: -($gutter-w/2);
    // padding-right: -($gutter-w/2);

    margin-left: -($gutter-w);
    // margin-right: -($gutter-w);
    
    &:first-child {
      margin-top: -($gutter-w);
    }
  }
  
}

.fixed-grid-container {

}

@each $size, $values in $sizes {

  $screen: "only screen" !default;

  $min-width: nth(nth($values,1),1);
  $max-width: nth(nth($values,1),2);
  $containerWidth: nth($values,2);

  // @media #{$screen} and (min-width:#{$min-width}) and (max-width:#{$max-width}) {
  @media #{$screen} and (min-width:#{$min-width}) {

    .grid-container {
      width: 100%;
      max-width: $containerWidth;

      &.fixed {
        width: $containerWidth;
      }

      .grid-row {

        @for $i from 1 through $col-count {
          .#{$size}-#{$i} {
            @include column-span($i, column-width-percent($col-count));
            display: inline-block;
            float: left;
            padding-left: ($gutter-w);
            padding-top: ($gutter-w);
          }
        }

      }
    }

    .grid-container.fixed {

      .grid-row {

      }
    }

  }
}

// Remove in prod obviously

.test-1 {
  box-sizing: border-box;
  height: 100px;
  background-color: rgba(245,245,245,1);
  box-shadow: 0 4px 0 darken(rgba(245,245,245,1),20);
}

.test-2 {
  box-sizing: border-box;
  height: 100px;
  background-color: #64dcc8;
  box-shadow: 0 4px 0 darken(#64dcc8 ,20);
}

.test-3 {
  box-sizing: border-box;
  height: 100px;
  background-color: rgba(255,165,165,1);
  box-shadow: 0 4px 0 darken(rgba(255,165,165,1),20);
}
