// ========= Grid Options ==========
$col-count: 12;
$gutter-w: 10px;

// Class names

$grid-container-class: ".grid-container";
$grid-row-class: ".grid-row";

// =================================

@mixin column-span($multiplier, $col-w){
  $gutters: $multiplier * $gutter-w - $gutter-w;
  width: $multiplier * $col-w;
}

@function column-width-fixed($container-w, $col-count) {
  $width: $container-w / $col-count;
  @return $width;
}

@function column-width-percent($col-count) {
  $width: (100 / $col-count);
  @return $width * 1%;
}

#{$grid-container-class} {
  @include clearfix();
  margin: 0 auto;
  position: relative;

  #{$grid-row-class} {
    @include clearfix();

    margin-left: -($gutter-w);
    
    &:first-child {
      margin-top: -($gutter-w);
    }
  }
}

@each $size, $values in $break-points {

  $size-map: map-get($break-points, $size);

  $screen: "only screen" !default;

  $sizes: map-get($size-map, "range");

  $min-width: map-get(map-get($size-map, "range"),"lower");
  $max-width: map-get(map-get($size-map, "range"),"upper");
  $containerWidth: map-get($size-map, "container-width");

  @media #{query($size)} {

    #{$grid-container-class} {
      width: 100%;
      max-width: $containerWidth;
      font-family: '#{$containerWidth}', serif;

      &.fixed {
        width: $containerWidth;
      }

      #{$grid-row-class} {

        @for $i from 1 through $col-count {
          .#{$size}-#{$i} {
            @include column-span($i, column-width-percent($col-count));
            display: inline-block;
            float: left;
            padding-left: ($gutter-w);
            padding-top: ($gutter-w);
          }
        }
      }
    }

    #{$grid-container-class}.fixed {

      #{$grid-row-class} {

      }
    }
  }
}