* {
	box-sizing: border-box;
}

input:focus {
  -webkit-appearance: none;
  outline: 0;
}

html {
  overflow-y: hidden;
}

svg {
  height: 0;
  
  position: absolute;
}

body {
  transition: background-color 0.4s;
  background-color: $c-background;
  font-family: sans-serif;
}

a {
  color: rgba(100,220,200,1);
  text-decoration: none;
}

#window-wrapper {
  height: 100%;
  position: relative;
  overflow: hidden;
}

#page-wrapper {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  display: inline-block;
  white-space: nowrap;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: relative;
}

