<div class="grid-container contact">

	<div class="grid-row">

		<div class="small-12 large-4">
			<div class="connect">
				
				<h2>Connect</h2>
				<ul class="social-buttons"></ul>
			</div>
		</div>

		<div class="small-12 large-8">
			<div class="say-hello">
				<h2>Say Hello!</h2>

				<div class="form-holder"></div>
			</div>
		</div>

	</div>

</div>