<div class="grid-container about">
	<div class="bleed">
		<h1 class="title">About Me....</h1>
		<div class="panel" style="color: rgba(180,180,180,1); text-align: center;">
			<p>This bit's coming soon, promise!</p>
		</div>
	</div>
</div>