<div class="landing-footer-content">
  <div class="icon menu">
    <i class="fa fa-chevron-down fa-2x show-content"></i>
  </div>
</div>

<div class="header-content">
    <a class="go-prev-button" {{#if prevLink}} href="{{prevLink}}" {{ else }} class="hidden"{{/if}}>
      <div class="icon go-prev">
        <i class="fa fa-chevron-left"></i>
      </div>
    </a>
  
  <a href="#">
    <div class="icon menu">
      <i class="fa fa-bars fa-2x show-intro"></i>
    </div>
  </a>

  
    <a class="go-next-button" {{#if nextLink}} href="{{nextLink}}" {{ else }} class="hidden"{{/if}}>
      <div class="icon go-next">
        <i class="fa fa-chevron-right"></i>
      </div>
    </a>
  
</div>