<div class="landing-footer-content">
  <div class="show-content-button"></div>
</div>

<div class="header-content">
    <div class="next-button"></div>
    <div class="show-intro-button"></div>
    <div class="prev-button"></div>
</div>