<div class="grid-container about">
	
	<h1 class="title">About Me....</h1>
	<div class="panel" style="color: rgba(180,180,180,1); text-align: center;">
		<h2>Yikes!</h2>
		<p>This bit's coming soon I promise!</p>
	</div>

</div>