#modal {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	z-index: 3000;
	display: none;

	.modal__container {
		min-height: 300px;
		width: 600px;
		margin: 0 auto;
		margin-top: 100px;
		border-radius: 20px;
		background-color: white;
		display: block;
		position: relative;
	}

	.modal__button--dismiss {
		position: absolute;
		top: 10px;
		height: 30px;
		width: 30px;
		right: 10px;
		background-color: rgba(240,140,140,1);
		border-radius: 10px;
	}
	.modal__shader {
		background-color: rgba(0,0,0,0.4);
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
}


// using index.html's svg element
.blur {
  filter: url(#blur);
  filter: blur(50px);
 filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='50');
}